@font-face {
	font-family: cutouts;
	src: url("cut-outs/CutOutsFLF.ttf") format("truetype");
}

.oculto {
	visibility: hidden;
	-webkit-transition: opacity 1s;
	z-index: 0;
	opacity: 0;
}

.visible {
	visibility: visible;
	-webkit-transition: opacity 1s;
	z-index: 1;
	opacity: 1;
}

#controles
{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 0px;
	text-align: center;
}

#puntuaciones
{
	padding-top: 0.1%;
}

.frame {
	position: absolute;
	width: 100%;
	font-family: cursive;
	color: white;
	text-shadow: 0px 0px 10px #cc0000;
	-webkit-user-select: none;
	font-size: 25px;
}

.frame input {
	 -webkit-transition: border-radius 1s, text-shadow 1s, color 1s;  
	  font-family: cursive;  
	  color: #EEE;      
	  margin: 10px;
	  padding: 10px;
	  width: 100px;
	  background: none;
	  text-shadow: 0px 0px 8px white;
	  border: 1px solid #dedede;
	  border-radius: 10px;
	  text-decoration: none;
	  border-color: #8dc5da #76b7cf #63abc7;
	  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.5); 
}

.frame button {
	 -webkit-transition: border-radius 1s, text-shadow 1s, color 1s;  
	  font-family: cursive;
	  font-size: 25px;     
	  color: #EEE;      
	  margin: 5px;
	  padding: 5px;
	  width: 300px;
	  background: none;
	  text-shadow: 0px 0px 8px white;
	  border: 1px solid #dedede;
	  border-radius: 10px;
	  text-decoration: none;
	  border-color: #8dc5da #76b7cf #63abc7;
	  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.5); 
}

.frame button:hover { 
	  border-radius: 20px;
	  text-shadow: 0px 0px 50px white;
	  color: white;
} 

.frame button:active { 
      text-shadow: 0px 0px 20px #0080FF;
      border-radius: 20px;
 }

.tabla {
	width: 50%;
	height: 100%;
	margin-left: 23%;
	margin-top: 15%;

}

.tablaMul {
	width: 50%;
	height: 20%;
	margin-left: 25%;

}

select{

	  font-family: cursive;
	  font-size: 30px;     
	  color: #EEE;      
	  margin: 10px;
	  padding: 10px;
	  width: 175px;
	  background: none;
	  text-shadow: 0px 0px 8px white;
	  border: 1px solid #dedede;
	  border-radius: 10px;
	  text-decoration: none;
	  border-color: #8dc5da #76b7cf #63abc7;
	  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.5);

}

select:active {
	background-color: transparent;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(imagenes/MenuBack.png);
	background-repeat: no-repeat;
	background-size: cover;
}


#oneplayer
{
	padding-top: 3%;
	padding-left: 0;
	width: 100%; 
      height: 100%;
}


#playerone /*canvas*/
{
	background: white;
	width: 80%; 
      height: 100%;
	margin-top:0% ;
	margin-left: 10%;
}


#putname
{
	padding-top: 23%;

}


#principal
{
	padding-top: 26%;

}

#juego
{
	padding-top: 26%;
}

